@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

body {
  font-family: "Merriweather", serif;
}

.navbar {
  background-image: linear-gradient(
    to right top,
    #fb0067,
    #f6467f,
    #ee6794,
    #e481a6,
    #d998b3
  );
}

.nav-item {
  margin: 0 20px;
}

h1,
h2,
h3 {
  color: black;
  margin: 20px 10px;
}

.card {
  border-radius: 12px;
  background: #e3e3e3;
  box-shadow: 5px 5px 10px #a8a8a8, -5px -5px 10px #ffffff;
  margin: 10px;
}

.align-text-top {
  margin-right: 10px;
}

.cont {
  margin: 50px 0;
}

.footer {
  font-size: 11px;
  text-align: center;
}
